/*

Tlačítko Pravidla  #1fcca4. A po najetí myši  #1cbb96.
Tlačítko Začít hrát  #0197f6. Po najetí  #0090e9.
*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

h1 {
  font-family: lobster;
  text-align: center;
  font-size: 56;
  padding-top: 35px;
  margin-bottom: 0;
}

.obal__hlavni {
  width: 355px;
  margin: 0 auto;
  background-color: #283e50;
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  line-height: 25px;
  margin-top: 55px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.odstavec {
  padding: 25px;
}

.uvodni {
  width: 355px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  min-height: 100vh;
}

a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  color: #ffffff;
  padding: 15px;
}

.tlacitko1 {
  background-color: #1fcca4;
  border-bottom: 1px solid black;
  display: block;
  width: 100%;
}

.tlacitko1:hover {
  background-color: #1cbb96;
}
.tlacitko2 {
  background-color: #0197f6;
  display: block;
  width: 100%;
}

.obal__pravidla {
  margin: 0 auto;
  background-color: #283e50;
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  line-height: 25px;
  margin-top: 55px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tlacitko2:hover {
  background-color: #0090e9;
}

ol {
  list-style-position: inherit;
  text-align: left;
  line-height: normal;
}
li {
  margin-top: 15px;
}
.krizky_kolecka {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}
figcaption.textgit__pravidla--popisky {
  text-align: center;
  line-height: normal;
  margin-top: 0;
}

.textgit__pravidla {
  padding-left: 10%;
  padding-right: 10%;
}

img.textgit__pravidla--obrazky {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
}

@media (min-width: 800px) {
  body {
    font-size: 18px;
  }

  .obal__pravidla {
    width: 80vw;
  }

  .obal__obrazky {
    display: flex;
    flex-wrap: wrap;
  }

  figure.obal__obrazky--instrukce {
    width: 28vw;
    margin: 10px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
  .obal__pravidla {
    width: 80vw;
    max-width: 1100px;
  }
  .obal__obrazky {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  img.textgit__pravidla__obrazky {
    max-width: 28vw;
  }

  figure.obal__obrazky--instrukce {
    width: 28vw;
    margin: 10px;
    max-width: 400px;
  }
}

h2 {
  color: white;
  font-family: lobster;
  text-align: center;
  font-size: 56px;
  padding-top: 35px;
  margin-bottom: 0;
}
p.obal__hra {
  color: white;
  font-family: lobster;
  font-size: 45px;
  padding-top: 35px;
  text-transform: uppercase;
}

.obal__hra {
  display: flex;
  flex-direction: row;
  text-align: center;
  max-width: 80vmin;
  align-content: center;
  align-items: center;
}

.tlacitka__hra {
  display: flex;
  align-content: center;
}

a.tlacitko__domu {
  border: solid 3px #1fcca4;
  border-radius: 3%;
  margin: 15px;
  padding: 3px;
  background-color: #1fcca4;
}
a.tlacitko__hrat__znovu {
  border: solid 3px #0197f6;
  border-radius: 3%;
  margin: 15px;
  padding: 3px;
  background-color: #0197f6;
}

a.tlacitko__domu :hover {
  border: solid 3px #1cbb96;
  border-radius: 3%;
  background-color: #1cbb96;
}

a.tlacitko__hrat__znovu :hover {
  border: solid 3px #0090e9;
  border-radius: 3%;
  background-color: #0090e9;
}
